body {
  background-color: rgb(9, 60, 119);
  text-align: center;
  color: white;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  background-color: white;
  color: black;
  font-size: 8vmin;
  font-weight: bold;
  cursor: pointer;
}

#reset-btn, #new-btn {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: aquamarine;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.msg-container {
  margin: 2rem;
}

.hide {
  display: none;
}
